body {
  background-color: #fff !important;
  /* position: relative; */
}

.body .top {
  height: 40px;
  width: 100%;
  padding-top: 5px;
  padding-left: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 2;
  background-color: #fff;
  position: fixed;
  top: -1px;
  left: 0;
}

.body .top span {
  position: absolute;
  top: 10px;
}

.body .top span:last-child {
  right: 10px;
}

.body .top input {
  width: 70%;
  height: 30px;
  border-radius: 15px;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  padding: 6px 15px;
}

.main {
  width: 100%;
  top: 50px;
  /*bottom: 34px;*/
  position: absolute;
  overflow-y: scroll;
  /* 增加该属性，可以增加弹性，是滑动更加顺畅 */
  -webkit-overflow-scrolling: touch;
}

.main .mui-card {
  border-radius: 5px;
  margin-bottom: 15px;
}

.body .mask {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
}

.body .side {
  height: 100%;
  width: 150px;
  background-color: #fff;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: -100%;
  top: 0;
  z-index: 3;
}

.side ul {
  margin: 0;
  padding: 50px 0 0;
  list-style: none;
}

.side ul li {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}

.side ul li a {
  color: #333;
  display: block;
  text-align: center;
}

.side ul li .active {
  color: orange;
}