/*
* @Author: Administrator
* @Date:   2018-05-18 15:56:26
* @Last Modified by:   Administrator
* @Last Modified time: 2018-06-22 16:52:38
*/

.mui-card img {
  display: block;
	width: 100%;
	height: 100%;
}

.mui-media-body {
  color: #000;
}

.mui-card-content{
	height: 236px;
}